html {
      margin: 0px;
      padding: 0px;
}

body {
      background-color: #4c2a4c;
}

form {
      margin-top: 50px;
      text-align: center;
}

input {
      padding: 10px;
      margin: 6px 0;
      background-color: #3c1f3c;
      color: #fff;
      border: 0;
}

button {
      padding: 10px;
      margin: 6px 0;
      background-color: #eee;
      border: 0;  
}
